pandas~=1.5.2
numpy~=1.24.1
pymongo~=4.3.3
requests~=2.28.2
cloudstorageio >= 1.2.7
simplejson~=3.18.1
pillow~=9.4.0
pymupdf==1.21.1
urllib3~=1.26.14
beautifulsoup4==4.11.2
lxml

setuptools~=65.5.1
PyYAML~=6.0
SQLAlchemy~=2.0.4
click~=8.1.3