sphinx-autodoc-annotation==1.0.post1
rst2pdf==0.101
sphinx-rtd-theme==2.0.0
sphinxcontrib-spelling==8.0.0
sphinx-autodoc-typehints==1.25.2
myst-parser==2.0.0
sphinx-tabs==3.4.5
readthedocs-sphinx-search==0.3.2