# This workflow will install Python dependencies, run tests and lint with a variety of Python versions

name: Pytest

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: pytest
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest pytest-cov
        if [ -f model-requirements.txt ]; then pip install -r model-requirements.txt; fi
    - name: Test with pytest
      run: |
        # In case coverage is needed add "--cov=pycognaize"
        pytest pycognaize
